@tailwind utilities;

@layer base {
  :root {
    /* Main Theme */
    --main-light-black: #202026;
    --main-black: #17171b;
    --main-white: #f7f7f7;
  }
}

@layer utilities {
}

#root{
  width: 100%;
  height: 100%;
}